body{
    background-color: rgb(255, 248, 241);
}
h1{
    color: rgb(185, 104, 226);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
}
.container{
    margin: 200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.container p{
    text-align: justify;
}
.caja1{
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
}
.caja2{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
}
.caja3{
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
}
footer p{
    text-align: center;
    color: rgb(185, 104, 226);
}
hr{
    width: 75%; 
    border-style: solid; 
    border-width: 0.1px; 
    border-color:  rgb(185, 104, 226); 
}
footer{
    margin-top: 10px;
}
